<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <httpHandlers>
      <add verb="GET,HEAD,POST" path="SchoolHandler.axd" type="callme.SchoolHandler" validate="false"/>
    </httpHandlers>
    <httpRuntime maxUrlLength="2097151" maxQueryStringLength="2097151" maxRequestLength="52428800"/>
    <pages/>
   <customErrors mode="Off"/>
    <trust level="Full" />
      </system.web>
  <system.webServer>
    <handlers>
      <add name="SchoolHandler" preCondition="integratedMode" verb="GET,HEAD,POST" resourceType="Unspecified" path="SchoolHandler.axd" type="callme.SchoolHandler"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="2097151" maxQueryString="30000000" maxAllowedContentLength="52428800"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpErrors>
      <remove statusCode="400" subStatusCode="-1"/>
      <remove statusCode="401" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <!-- full url when responsemode is Redirect -->
      <error statusCode="400" path="400.aspx" responseMode="Redirect"/>
      <error statusCode="401" path="401.aspx" responseMode="Redirect"/>
      <!-- local relative path when responsemode is ExecuteURL -->
      <error statusCode="403" path="403.aspx" responseMode="ExecuteURL"/>
      <error statusCode="404" path="404.aspx" responseMode="ExecuteURL"/>
      <error statusCode="500" path="500.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
  

  </system.webServer>
</configuration>
